.App {
  text-align: inherit;
}

.ColorInput{
  display: block;
  margin: auto;

}

.Board{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 50px auto;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.ControlPanel{
  text-align: center;
}
.Controls{
  margin: 20px 10px;
  display: inline-block;
  width: 50px;
}

/* .Add{
  color: white;
  background-color: lightblue;
  font-size: 1.5em;
} */